body > nav {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: var(--background-color);
}

body > nav .icon {
  height: 40px;
  width: 40px;
}

/*style logo on left hand side of navbar*/
body > nav > ul li:nth-child(1) > a {
  display: flex;
  gap: 1rem;
}

body > nav [data-tooltip]:not(a,button,input) {
  border-bottom: 0;
}

#page-footer {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

#page-footer > ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 1em;
}

#page-footer > ul > li {
  font-size: 15px;
  list-style-type: none;
}

.warning {
  color: var(--form-element-invalid-border-color);
}
