.cart-item {
  display: flex;
  gap: 1em;
  min-height: 270px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px 20px;
}

.cart-item:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 1px 3px 8px 1px;
}

.cart-item > img {
  flex: 1;
}

.cart-item > .container {
  flex: 2;
}

.cart-item > label {
  flex: 1;
}
