#settings-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#settings-container form, #settings-container form button {
  margin: 0;
}

#settings-container form, #settings-container article:nth-child(2) > div {
  display: grid;
  place-items: center;
}

button[name="account_delete_submit"] {
  border: 0;
  background-color: red;
}

table button {
  padding: 5px;
}

table tr button:first-of-type {
  border: 0;
  background-color: red;
}

/* Style tab links */
.tablink {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  background-color: var(--secondary);
}

.active {
  background-color: var(--contrast);
  color: var(--contrast-inverse);
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  display: none;
  padding: 20px 0;
}