#item-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 30px;
}

#item-grid > a {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#item-grid > a:focus {
  background-color: transparent;
}

/*item name*/
#item-grid > a > hgroup > h5:nth-child(1) {
  margin-bottom: 0;
}

#item-grid > a img {
  height: 170px;
  width: 170px;
  margin: auto;
}

#item-grid > a img:hover {
  scale: 1.1;
}

#item-grid h5 {
  text-align: center;
}

article a[role='button'] {
  width: 100%;
}

article header {
  padding: 0;
}

@media screen and (max-width: 990px) {
  #item-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  article img {
    height: 100px;
    width: 100px;
  }

}

@media screen and (max-width: 620px) {
  #item-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}